### Diabetes prediction
#### Python
#### Support Vector Machine
##### Work flow - import respective libraries, read the data,standardize the data,split the data, train using svm , accuracy score,prediction of a single data using classifier

In [89]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [90]:
data_diabetes=pd.read_csv("diabetes.csv")
data_diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [91]:
data_diabetes.shape #768 rows and 9 columns

(768, 9)

In [92]:
data_diabetes.describe() #prints the mean value of the entire column and so on..

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [93]:
data_diabetes['Outcome'].value_counts() #0 - non diabetic 1- diabetic

0    500
1    268
Name: Outcome, dtype: int64

In [94]:
data_diabetes.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [95]:
x=data_diabetes.drop(columns="Outcome",axis=1) #axis =1 represents a column,axis=0 represents a row
y=data_diabetes['Outcome']
print(x)
print(y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [96]:
##Data preprocessing - Standardizing the data
##this is done because every value of columns in a table ranges from different values 
#in order to make every values lies in a same rage preprocessing has been done
scaler=StandardScaler()

In [97]:
scaler.fit(x)

StandardScaler()

In [98]:
standard_data=scaler.transform(x)

In [99]:
print(standard_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [100]:
x=standard_data
y=data_diabetes['Outcome']
# x and y are used to train our model x represents the data y represents the model

In [101]:
print(x,y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]] 0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [102]:
#split train and split data
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3,stratify=y,random_state=1)

In [103]:
print(x.shape,X_train.shape,X_test.shape)

(768, 8) (537, 8) (231, 8)

In [104]:
# Train the model
classifier=svm.SVC(kernel='linear')

In [105]:
classifier.fit(X_train,Y_train) #fit is used to train the model

SVC(kernel='linear')

In [106]:
#Model Evaluation
# Accuracy score of training data
X_train_prediction=classifier.predict(X_train)
train_accuracy=accuracy_score(X_train_prediction,Y_train)

In [107]:
print("Accuracy score of training model :",train_accuracy)

Accuracy score of training model : 0.7821229050279329

In [108]:
# Accuracy score of test data
X_test_prediction=classifier.predict(X_test)
test_accuracy=accuracy_score(X_test_prediction,Y_test)
print("Accuracy score of test data : ",test_accuracy)

Accuracy score of test data :  0.7662337662337663

In [109]:
# this represents that the model has not ovetrained,
#if it is over trained the test data score will be much high or low than the train data which is known as overfitting.

In [117]:
#making predictive system
input_data=(0,137,40,35,168,43.1,2.288,33)
input_data_numpy_array=np.asarray(input_data)

In [118]:
reshaped=input_data_numpy_array.reshape(1,-1)
#reshape is done because our model has been trained for 768 rows and 8 columns so it may think for that inorder to
#avoid reshape is done

In [119]:
standardize_input_data=scaler.transform(reshaped) #we are not supposed to fit now becaus we have already fitted the X data

In [120]:
prediction=classifier.predict(standardize_input_data)
print(prediction)
if prediction[0] == 0:
    print("Non diabetic")
else:
    print("Diabetic")

[1]
Diabetic

#### Predicted perfectly we have given a diabetic pesons data